<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera pagina</title>
</head>
<body>
    <h1>Hola alumnos</h1>
    <br>
    {% for alumno in alumnos %}

        <ol>
            <li>{{alumno.rut}}</li>
            <li>{{alumno.nombre}}</li>
            <li>{{alumno.apellido_paterno}}</li>
            <li>{{alumno.apellido_materno}}</li>
            <li>{{alumno.id_genero.genero}}</li>
        </ol>

    {% endfor %}
</body>
</html>